.slider {
    width: 100%;
    max-width: 768px;
    overflow: hidden;
    margin: auto;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

#box {
    display: flex;
    transition: all 0.5s;
}

.cat-box {
    text-align: center;
    margin-top: 20px;
}

.cat {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active-cat {
    background-color: #71d887;
}

.box-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button-previous {
    cursor: pointer;
    font-size: 18px;
    background-color: #71d887;
    color: #fff;
    border: none;
    padding: 10px;
    position: relative;
}

.button-next {
    cursor: pointer;
    font-size: 18px;
    background-color: #71d887;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 20px 20px;
}
